<h1>Editing Article</h1>

<%= form_with model: @article do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <%= f.label :content, "Content" %>
  <%= f.text_area(:content, size: '60x10') %>
  <%= f.submit %>
<% end %>

<p><%= link_to "Show", article_path(@article) %> | <%= link_to "Back", articles_path %></p>
